@use '../abstracts/' as *;

.wrapper {
  width: 100%;
  max-width: rem(1112);
  margin-inline: auto;
  padding-inline: rem(16);

  @include breakpoint(md) {
    padding-inline: rem(40);
  }

  @include breakpoint(xl) {
    padding-inline: 0;
  }

}