@use '../abstracts/' as *;

.footer {
  padding-bottom: rem(63);

  &__logo {
    display: block;
    max-width: rem(95);
    margin-bottom: rem(57);
    margin-inline: auto;
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(28);
  }

  &__item-link {
    &:hover svg path {
      transition: fill 200ms ease-in-out;
      fill: var(--clr-primary-1);
    }
  }
}