:root {
	--clr-primary-1: rgba(36, 5, 62, 1);
	--clr-primary-2: rgba(68, 255, 161, 1);
	--clr-neutral-1: rgba(88, 77, 98, 1);
	--clr-neutral-2: rgba(252, 248, 255, 1);
  --clr-neutral-3: rgba(255, 255, 255, 1);
}
