@font-face {
	font-family: 'Fraunces';
	src: url('/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf') format('TrueType');
	font-weight: 600;
}

@font-face {
	font-family: 'Manrope';
	src: url('/assets/fonts/manrope/static/Manrope-Regular.ttf') format('TrueType');
	font-weight: 400;
}

:root {
	--ff-fraunces: 'Fraunces', serif;
	--ff-manrope: 'Manrope', sans-serif;
}
